* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  position: relative;
}

table{
  table-layout: auto;
  border-collapse: collapse;
  border: 1px solid;
}

th, td{
  padding: 10px;
  border: 1px solid;
}

.btn, .btn_add{
  height: 30px;
  padding: 5px;
  color: white;
  font-weight: bold;
}

.btn_add{
  background-color: green;
  position: absolute;
  left: 0px;
  top: -35px;
}